
      <div class="status">

        <img src="<%= @filv.avatar_image %>">
        
        <%= link_to image_tag("yuusya.png", size:"250x250", class:"google-btn"), "#" %>

        <%= @filv.strength %>
        <%= @filv.intelligence %>
        <%= @filv.intelligence %>

      </div>
